
<p class="newFont"> Your Professor's Token: {{questionlist.token}}</p>
<!-- <tr *ngFor="let question of questionlist.questions; let i = index">
    <td>
        <p class="newFont"><b>Question:</b> {{question.Q}}</p>
    </td>
    <td>
        <p class="newFont"><b>Answer:</b> <input type="text"> </p>
    </td>
</tr> -->

<div class="container">

    <form [formGroup]="responseForm" (ngSubmit)="onSubmit()">
        <p>

        <table class="table table-bordered" formArrayName="responses">
            <th width="150px"><button type="button" (click)="addResponse()" (click)="actionMethod($event)" class="btn btn-primary">View Questions</button></th> 
             
   
            <ng-container *ngFor="let question of questionlist.questions; let i=index" [formGroupName]="i" >

                <tr *ngFor="let quantity of responses().controls; let i=index" >
                <td>Question: {{question.Q}}</td>
                <td> 
                    Answer: <input type="text" formControlName="A" class="form-control"> 
                </td>
                </tr>
            </ng-container>
        </table>
        <button type="submit" class="btn btn-success" (click)="sendResponseToDB(this.responseForm.value)" > Finalize </button>
    </form>
</div>
