<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>MY APP</title>
</head>
<form action="/sendQuestion" method="POST">
    <input type="text" placeholder="question" name="question">
    <input type="text" placeholder="answer" name="answer">
    <button type="submit">Submit</button>
  </form>
</body>

<div class="container">
  <table>
      <thead>
      <tr>
          <th colspan="3"><div>Read</div></th>
      </tr>
      </thead>
      <tbody>
          <% for(var i = 0; i < questions.length; i++) { %>
          <tr>
              <td><%= questions[i].question %></td>
              <td><%= questions[i].answer %></td>
          </tr>
          <% } %>
      </tbody>
  </table>
</div>

</html>