<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 8px 0;
  }

  p {
    margin: 0;
  }

  .spacer {
    flex: 1;
  }

  .toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #1976d2;
    color: white;
    font-weight: 600;
  }

  .toolbar img {
    margin: 0 16px;
  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 960px;
    flex-direction: column;
    align-items: center;
  }

  footer {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
  }

  footer a {
    display: flex;
    align-items: center;
  }

</style>

<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img/>
  <button (click)="goToPage('token')" >Professor</button>
    <div class="spacer"></div>
    <div class="spacer"></div>    
    <button (click)="goToPage('enterToken')" >Student</button>
    <div class="spacer"></div>
    
</div>

<div class="content" role="main">
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/175f122d-100e-4feb-8e74-e52d5066f367/dao01m2-721f8811-3a00-421e-a5f3-a5b0b236564a.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzE3NWYxMjJkLTEwMGUtNGZlYi04ZTc0LWU1MmQ1MDY2ZjM2N1wvZGFvMDFtMi03MjFmODgxMS0zYTAwLTQyMWUtYTVmMy1hNWIwYjIzNjU2NGEucG5nIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.Zpdxs2qjn7QCYbcfsdsRGX4j6SdXyAImqcEKtKJDahQ" alt="scary" style="border: 2px solid #333; width: 70%; height: auto; position: relative;">
  <h1>Coming Soon!</h1>

  
  <!-- Footer -->
  <footer>
     
  </footer>

</div>

<router-outlet></router-outlet>
