<div class="form-group">
    <label for="questionType">Choose Question Type: </label>
    <select class="form-control" id="questionType" [(ngModel)]="model.questionType">
      <option *ngFor="let singleQT of questionType" [value]="singleQT">{{singleQT}}</option>
    </select>

    <div class="single" *ngIf="model.questionType == 'Free Response'">
    <br>
    
    <div class="form-group">
        <input type="text"class="form-control" placeholder="Enter a question" [(ngModel)]="model.questionAsk"/>
      </div>
      
      <br>
      
      <div class="form-group">
        <input type="text"class="form-control" placeholder="Enter a answer" [(ngModel)]="model.questionAnswer"/>
      </div>
    
      <br>

      <button [disabled]="!model.questionAsk || !model.questionAnswer" (click)='sendQuestionToDB("Send")'> Add </button>

    </div>

  </div>
