name: Build and Publish
on:
  push:
    branches: [main]
env:
  #docker
  DOCKER_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
  DOCKER_PASSWORD: ${{ secrets.DOCKERHUB_TOKEN }}
  FILE_PATH: "./Dockerfile" 
  
  #terraform
  GITHUB_TOKEN: ${{ secrets.GIT_TOKEN }}
  AWS_ACCESS_KEY_ID:  ${{ secrets.AWS_ACCESS_KEY_ID }}
  AWS_SECRET_ACCESS_KEY:  ${{ secrets.AWS_SECRET_ACCESS_KEY }}
  
jobs:
  deploy-app:
    runs-on: ubuntu-latest
    steps:
    - name: log-starting
      run: echo "starting build!"
      shell: bash    
    - name: Checkout code
      uses: actions/checkout@v2
      
    - name: Verify Terraform version
      run: terraform --version
      
    - name: Terraform Init
      uses: hashicorp/terraform-github-actions/init@v0.4.0

    - name: Terraform Validate
      uses: hashicorp/terraform-github-actions/validate@v0.3.7
      
    - name: Terraform Apply
      uses: hashicorp/terraform-github-actions/apply@v0.4.0

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{env.AWS_ACCESS_KEY_ID}}
        aws-secret-access-key: ${{env.AWS_SECRET_ACCESS_KEY}}
        aws-region: us-east-1
      
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1

    - name: Build, tag, and push image to Amazon ECR
      env:
        ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        ECR_REPOSITORY: test-github-actions
      run: |
        docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:latest ./client/.
        docker push $ECR_REGISTRY/$ECR_REPOSITORY:latest
