name: ESLint

on:
  push:
    branches: [ feature/eslint ]

jobs:
  eslint:
    name: Run eslint scanning
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install ESLint
        working-directory: ./client/
        run: |
          npm install eslint@8.10.0
          npm install @microsoft/eslint-formatter-sarif@2.1.7
          npm install @typescript-eslint/eslint-plugin@latest --save-dev
        
      - name: Run ESLint Client
        working-directory: ./client/
        run: npx eslint .
          --config .eslintrc.json
          --ext .ts
          --format @microsoft/eslint-formatter-sarif 
          --output-file eslint-results.sarif
        continue-on-error: true

      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: eslint-results.sarif
          wait-for-processing: true
          
      - name: Install ESLint
        working-directory: ./server/
        run: |
          npm install eslint@8.10.0
          npm install @microsoft/eslint-formatter-sarif@2.1.7
          npm install @typescript-eslint/eslint-plugin@latest --save-dev

      - name: Run ESLint
        working-directory: ./server/
        run: npx eslint server.js database 
          --ext .js 
          --config .eslintrc.json
          --format @microsoft/eslint-formatter-sarif 
          --output-file eslint-results.sarif
        continue-on-error: true

      - name: Upload analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v2
        with:
          checkout_path: ./server/
          sarif_file: eslint-results.sarif
          wait-for-processing: true
